article img{
    margin: 10px 3px;
    width: 700px;
}

article{
    text-align: center;
    width: 50%;
    margin: 50px auto;
    padding: 10px 20px;
}

article a{
    box-shadow: 1px 1px 2px var(--transparente);
    box-shadow: 2px 2px 5px var(--transparente);
    background-color: var(--rojo-resalto);
}

h3{
    text-transform: uppercase;

}

p{
    text-align: justify;
}

h3::before{
    content: url("../../img/kaya.png");
    width: 40px;
    display: inline-block;
    position: relative;
    left: -40px;
}